.textbox{
    border: solid 5px #F5FDC6;
    border-radius: 25px;
    border-top: 0;
    padding-top: 1%;
    width: 70%;
    align-self:center;
    max-width: 750px;
    display:flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.888);

    }

    body{
    background-image:url(../assets/bg/bg1.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding:5%;
    display:flex;
    flex-direction:column;
    gap: 50px;

}


header {
    color: #F5FDC6;
    /* background-color:#F5FDC6; */
    display:flex;
    padding: 10px;
    justify-content: space-evenly;
}

.links a{
    display:flex;
    border: groove 2px #123524;
    border-radius: 100px;
    padding:10px;
    background-color:#F5FDC6;
    flex-direction:column;
    ;
}


.links a:hover{
    background-color:#330c2f;
    border: ridge 2px #123524; 
}

.links:hover .icon {
    display:none
    
}
.links:hover .icon2 {
    display:block;
    width:100px;
}
.links:hover p {
    color:#F5FDC6
}

.icon{
    width:100px;
    align-self:center;
}
.icon2 {
    display:none
}

.links p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#123524;
    font-weight:700 ;
}

.text{
    color:#F5FDC6;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size:larger;
    text-align:center;
}

.panel {
    display:flex;
    background-color:#330c2f;
    width:fit-content;
    padding:50px;
    word-wrap: break-word;
    border-radius: 60px;
    border: groove #F5FDC6;
    flex-wrap:wrap;
    justify-content:space-around;
    max-width:800px
}

.item2 {
    flex: 0 0 100%;
    display:flex;
    
}

.panel img{
    max-width:50%;
    margin-right:auto;
    object-fit:contain;
    max-height: 60dvh;
}

.panel p{
    margin:auto;
}

.item3 {
    flex:0 0 100%;
    display:flex;
}
.item3 p{
    margin:auto;
    
}

.item3 img {
    order: 1;
}

li {
    margin-bottom: 100px;
    justify-self:center
}

.titles{
        color:#F5FDC6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:5vh;
    text-align:center;
    
}

.longtext {
    color:#F5FDC6;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align:justify;
    font-size:large;
    padding-left:20px;
    padding-right:20px;
    overflow-y: auto;
    max-height: 30vh;
    min-height:100%;
    min-width: 15vh;}

.sideways {
    display:flex;
    justify-content: space-evenly;
    gap:5vh;
    flex-wrap:wrap;
}

.panel2 {
    display:flex;
    flex-direction:column;
    background-color:#330c2f;
    word-wrap: break-word;
    border-radius: 60px;
    border: groove #F5FDC6;
    justify-content:space-evenly;
    width:fit-content;
    max-width:55vh;
    min-width:min-content;
}

.panel2 img{
    max-width:60vh;
    margin:auto;
    max-height: 50dvh;
    padding:5vh;
}

.longtext2 {
    color:#F5FDC6;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align:center;
    font-size:large;
    padding-left:20px;
    padding-right:20px;
    overflow-y:scroll;
    max-height:20dvh;
    min-width: 15vh;
}

.panel2:hover #outside{
    display:none
}
.panel2:hover #altpic{
    display:block
}

.panel2:hover #inside {
    display:block
}

#inside {
    display:none
}
/* foundation hover effect */
.panel2:hover #new{
    display:none
}
.panel2:hover #altpic{
    display:block
}

.panel2:hover #old {
    display:block
}

#old {
    display:none
}



