body{
    display:flex;
    flex-direction: column;
    background-color:black;
    justify-content: center;
}

#stuff{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;}


.pic {
    max-width:50vh;
    border: solid 10px white;
    border: radius 6px;}

#garf {aspect-ratio: 4/ 3;
    width:40%;
        border: solid 10px white;
    border: radius 6px;
}

#nope, a {
    font-size: 10vh;
    text-align:center;
    color:rgb(255, 255, 255);
    margin:auto;
    margin-bottom: 10vh;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 10px white;
    border: radius 6px;
    text-decoration: none;

}

a:hover{
       font-size: 10vh;
    text-align:center;
    color:black;
    margin:auto;
    margin-bottom: 10vh;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 10px black;
    border: radius 6px;
    background-color: white;
    text-decoration:none
}